<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ERP</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Demo Ordering Page/products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Product List
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ps1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>PS1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ps2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>PS2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ps3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>PS3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Ordering/OrderingPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Order
            </NavLink>
        </div>
    </nav>
</div>

