@page "/Ordering/OrderingPage"


<h3>OrderingPage</h3>

<div class="row row-cols-1 row-cols-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://m.media-amazon.com/images/I/71Zp4i1Rq0L._AC_UF894,1000_QL80_.jpg" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="https://m.media-amazon.com/images/I/71BvLLvjY8L.jpg" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="https://images-cdn.ubuy.co.in/636afc0555a6dc395468fbf4-3d-led-lamps-illusion-night-light-kamado.jpg" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="https://m.media-amazon.com/images/I/71XNmTmxDJL.jpg" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>

</div>

@code { 

}
