@page "/Ordering/OrderingPage"

<h3>OrderingPage</h3>

<div class="row row-cols-1 row-cols-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/Catalog Images/" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>

</div>

@code {

}
