@page "/Ordering/OrderingPage"

@{
    
    var imagePath = "~/CatalogImages/3DNightLight/3DNightLight2.jpg";
}

<h1>3D Night Light</h1>

<div class="image-container">
    <img src="@imagePath" alt="3D Night Light" />
</div>
















@* <h3>OrderingPage</h3>

<div class="row row-cols-1 row-cols-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/CatalogImages/3DNightLight.png" class="card-img-top" alt="Anime Neon Light" />
            <div class="card-body">
                <h5 class="card-title">Anime Neon Light</h5>
                <p>Its just a test for the card this dont mind it...</p>
            </div>
        </div>
    </div>

</div>
<div class="image-container">
    <img src="~/CatalogImages/3DNightLight/3DNightLight2.jpg" alt="3D Night Light" />
</div>

@code { 

}
 *@