@page "/EmployeeOrderingForProductionPage"

<h1>Adding Products to Production</h1>
<p>There can be various reasons to add products from production 
   Some reasons are:
   1.Return Order
   2.Making Error
   3.Custom Order
   4.Employee Deleting Order Details 
   etc...
</p>

@code{

}

