@page "/P"
@inject ManufacturingApiService ApiServices
<h3>Products</h3>

@if(pp == null)
{
    <p>Loading..</p>
}
else{
    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
    </table>
}

@code {
    private List<ProductsListResponse>? pp;

    protected override async Task OnInitializedAsync(){
        pp = await ApiServices.ProductsListsAsync();
    }
}
